.grid-container {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr;
  max-width: 1440px;
  margin: 0 auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  min-height: 100vh;
}
.grid-container .center .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 0;
}
.grid-container .center .navigation .navigation-icon {
  display: none;
}
.grid-container .center .navigation .navigation-menu a {
  text-decoration: none;
  font-weight: 500;
  color: #f5f6f8;
  padding: 0 0.3rem;
}
.grid-container .center .center-container {
  display: flex;
  flex-direction: column;
  max-height: 678px;
  height: 100vh;
  max-width: 1024px;
  width: 100%;
  height: 100%;
  position: relative;
}
.grid-container .center .center-container .chevron {
  position: absolute;
  bottom: 4;
  left: 50%;
  transform: translate(0, -50%);
  color: #f5f6f8;
}
.grid-container .right {
  color: #f5f6f8;
}
.grid-container .right .search-box {
  padding: 1.3rem 1rem;
  cursor: pointer;
}

.hero {
  max-height: 678px;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(41, 40, 40, 0.6), rgba(26, 24, 24, 0.6)), url("https://images.pexels.com/photos/2115217/pexels-photo-2115217.jpeg");
}
.hero .hero-text {
  color: #f5f6f8;
  transform: translate(0, -50%);
  width: 100%;
  position: absolute;
  top: 50%;
}
.hero .hero-text h1 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 4.5em;
  margin-bottom: 2.5rem;
  width: fit-content;
  border-right: 0.5rem solid #2d9965;
  padding-right: 1.2rem;
}
.hero .hero-text hr {
  margin: 2rem 0;
  border: none;
  height: 2px;
  color: #f5f6f8;
  width: 100%;
  background-color: #f5f6f8;
}
.hero .hero-text p {
  margin: 2rem 0;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8rem;
}

.overview {
  background: #fff;
}
.overview .grid-overview {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-column-gap: 1em;
}
.overview .overview-summary .summary-text {
  margin: 0rem auto;
  margin-bottom: 4rem;
  font-size: 1.6rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  text-align: center;
  max-width: 600px;
  color: #212830;
}
.overview .overview-summary .detailed-info {
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom: 1.4rem;
}
.overview .overview-summary .slim {
  max-width: 750px;
}
.overview .overview-summary a {
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 400;
}
.overview .overview-summary .more-info {
  color: #2d9965;
  gap: 1rem;
}
.overview .green-text {
  color: #2d9965;
  font-weight: 300;
  font-size: 3.5rem;
}
.overview .text-sm {
  font-size: 0.8rem;
  color: #787878;
  margin-left: 5.2rem;
}

.features {
  background-color: #ebedec;
}
.features .grid-features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 0.3em;
}
.features .feature-card {
  padding: 4em 1em;
  border-bottom: 8px solid #2d9965;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.features .feature-card h3 {
  padding: 1rem 0;
}
.features .feature-card .svg-container {
  width: 70px;
  height: 70px;
  margin-bottom: 1.5rem;
}
.features .feature-card p {
  color: #787878;
  font-size: 1.3rem;
}
.features .alt {
  background-image: url("https://images.pexels.com/photos/303383/pexels-photo-303383.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  border-bottom: 20px solid #2d9965;
  height: 392px;
  color: #f5f6f8;
}
.features .alt p {
  color: #f5f6f8;
}

.works {
  background-color: #fff;
}
.works .grid-works {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.5em 0.5em;
  grid-template-areas: "first second" "third third";
}
.works .work-item {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  padding: 1rem;
  color: #fff;
}
.works .work-item p {
  font-size: 1.6rem;
  max-width: 480px;
}
.works .work-item h5 {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}
.works .first {
  background: linear-gradient(to bottom right, #8d4918, #da6108);
  grid-area: first;
}
.works .second {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://images.pexels.com/photos/18105/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: second;
}
.works .second .details {
  z-index: 1;
}
.works .third {
  background: url("https://images.pexels.com/photos/109371/pexels-photo-109371.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  grid-area: third;
}
.works .third .overlay-color {
  width: 100%;
  height: 100%;
  background: hsla(0deg, 0%, 0%, 0.322);
  transform: translate(-1em, -1em);
  position: absolute;
}
.works .third .details {
  z-index: 1;
}

.blogs {
  background-color: #ebedec;
}
.blogs .grid-blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
}
.blogs .blog-item {
  position: relative;
  display: flex;
  padding: 1rem;
  height: 280px;
  background-color: #f5f6f8;
  box-shadow: -2px 0px 2px 0px rgba(230, 228, 228, 0.75);
}
.blogs .blog-item .card-inner {
  position: absolute;
  top: 4rem;
}
.blogs .blog-item .card-inner .title {
  font-size: 1.6rem;
  max-width: 400px;
}
.blogs .blog-item .card-inner .date {
  font-weight: 400;
  font-size: 1em;
  margin-top: 1rem;
  color: #787878;
}
.blogs .blog-item h5 {
  position: absolute;
  top: 1rem;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
.blogs .blog-item .share-container {
  gap: 1rem;
  align-items: center;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: #787878;
}
.blogs .blog-item .share-container a {
  text-decoration: none;
  font-size: 1rem;
  color: #787878;
}

.testimonials {
  display: flex;
}
.testimonials .grid-layout {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr;
  max-width: 1440px;
  margin: 0 auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  max-width: 100%;
}
.testimonials .right {
  background-color: #2d9965;
}
.testimonials .center {
  display: flex;
}
.testimonials .center .inner-left {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.testimonials .center .inner-left h2 {
  max-width: 100px;
  margin-bottom: 1em;
  line-height: 1.5em;
}
.testimonials .center .inner-left p {
  color: #787878;
  max-width: 250px;
  line-height: 1.5em;
}
.testimonials .center .inner-right {
  background: #2d9965;
  flex: 2;
  color: #f5f6f8;
  padding: 4rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.testimonials .center .inner-right p {
  font-size: 1.2rem;
}
.testimonials .center .inner-right h6 {
  margin-top: 2.3rem;
  font-size: 1rem;
}
.testimonials .center .inner-right .controls {
  display: flex;
  justify-content: flex-end;
  margin-top: 3em;
}
.testimonials .center .inner-right .controls .circle {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: #f5f6f8;
  cursor: pointer;
}
.testimonials .center .inner-right .controls .active {
  background-color: #787878;
}
.testimonials .center .inner-right .slides_container {
  color: #f5f6f8;
  position: relative;
}
.testimonials .center .inner-right .slides_container .slides {
  display: none;
}

.actions {
  background: #ebedec;
}
.actions .flex-actions {
  display: flex;
}
.actions .left {
  flex: 3;
}
.actions .left p {
  font-size: 1.5em;
}
.actions .right {
  flex: 1;
  display: flex;
  justify-content: end;
}

.footer {
  background-color: #212830;
  color: #f5f6f8;
}
.footer .grid-footer {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.footer .grid-footer .grid-footer-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer .grid-footer .grid-footer-item p {
  margin-bottom: 1rem;
  max-width: 400px;
  font-weight: 300;
}
.footer .socials {
  display: flex;
  margin-bottom: 2rem;
  margin-top: 2rem;
  gap: 0.5rem;
}
.footer .input {
  border-bottom: 1px solid #787878;
  padding-bottom: 0.7rem;
}
.footer .input input {
  outline: none;
  border: 0;
  background: inherit;
  color: #fff;
}
.footer .copyrights {
  margin-top: 2rem;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section {
  width: 100%;
}
.section .section-container {
  margin: auto;
  max-width: 1440px;
}
.section .section-container .section-container-content {
  width: 80%;
  margin: auto;
  padding: 4em 0.1em;
}
.section .section-container .section-container-content h2 {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #787878;
  margin-bottom: 2rem;
}

.button {
  text-decoration: none;
  font-weight: 600;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

.out {
  color: #2d9965;
  border: 1px solid #2d9965;
  width: 130px;
}

.sol {
  padding: 2px 5px;
  width: 120px;
  background-color: #2d9965;
  color: #fff;
}

/*  
*
Media Queries
*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  * {
    font-size: 12px;
  }
  .works .grid-works {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.3em 0.3em;
    grid-template-areas: "first" "second" "third";
  }
  .overview .grid-overview {
    grid-template-columns: 1fr;
    grid-row-gap: 2em;
  }
  .blogs .grid-blog {
    grid-template-columns: 1fr;
    grid-row-gap: 1em;
  }
  .features .grid-features {
    grid-template-columns: 1fr;
    grid-row-gap: 2.5em;
  }
  .features .feature-card {
    height: 300px;
  }
  .testimonial .grid-testimonial {
    grid-template-columns: 1fr;
  }
  .footer .grid-footer {
    grid-template-columns: 1fr;
  }
  .grid-container .right {
    display: none;
  }
  .grid-container .right .search-box {
    display: none;
  }
  .grid-container .center .navigation .navigation-menu {
    display: none;
  }
  .grid-container .center .navigation .navigation-icon {
    display: inline-block;
  }
  .grid-container .center .navigation .navigation-icon i {
    color: #f5f6f8;
  }
  .testimonials .right {
    display: none;
  }
  .testimonials .center {
    flex-direction: column;
  }
  .testimonials .center .inner-left {
    flex: 1;
  }
  .testimonials .center .inner-right {
    flex: 1;
    padding: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
